/* Container for all drawings */
.drawings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
}

/* Individual drawing item */
.drawing-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the header */
.drawings-header {
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
